@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700|Roboto+Mono:400,400i,700');

body { font-family: 'Comfortaa'; font-size: large }

p {
    color: #FAAF40;
}

h1, h2, h3 {
font-family: 'Comfortaa';
    color: #189ad1;
}

.remark-slide-number {
    bottom: 22px;
    font-size: 12pt;
    right: 8px;
    opacity: .7;
    text-shadow: 0px 0px 4px #000000;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding-left: 1em;
    text-indent: -.7em;
}

li::before {
    content: "• ";
    color: #1D86C8;
}

a {
    color: #F16A4C;
}

.remark-slide-content p, .remark-slide-content li {
    font-size: 24pt;
    line-height: 32pt;
    color: #FAAF40;
}

td {
    font-size: 20pt;
    line-height: 28pt;
    color: #FAAF40;
    padding-right: 12px;
}

td span {
    color: #1D86C8;
    font-weight: bold;
}
td b {
    color: #F16A4C
}
.remark-code, .remark-inline-code { font-family: 'Roboto Mono'; }