<!DOCTYPE html>
<html>
  <head>
    <title>{{.Env.TITLE}}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="slides/styles.css" />
  </head>
  <body>
    <script src="remark-{{getenv "REMARK_VER"}}.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>
      var slideshow = remark.create({
        sourceUrl: 'slides/slides.md?' + Math.random(),
        ratio: '{{getenv "RATIO" "4:3"}}',
        navigation: {
          scroll: false,
          touch: true,
          click: false
        },
        highlightStyle: '{{getenv "HIGHLIGHT_STYLE" "default"}}',
        highlightSpans: true,
        highlightLines: {{getenv "HIGHLIGHT_LINES" "false"}}
      })
    </script>
    <script>
      function Get(url) {
        jQuery.getJSON(url, function(data) {
          document.getElementById("exchrate").textContent = data.USD.last.toFixed(2);
        })
      }
      $(document).ready(function() {
        var interval = setInterval(function() {
          Get("https://blockchain.info/ticker?cors=true");
        }, 5000);
        Get("https://blockchain.info/ticker?cors=true");
      });
  </script>
  </body>
</html>