@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700|Roboto+Mono:400,400i,700');

body { font-family: 'Comfortaa'; font-size: large }
p {
    color: #FAAF40;
}
h1, h2, h3 {
font-family: 'Comfortaa';
    color: #189ad1;
}
.remark-code, .remark-inline-code { font-family: 'Roboto Mono'; }